
<% @user.each do |user| %>
  <div>
    <h1><%= link_to user.name, user %></h1>
    <p><%= user.email %></p>
  </div>
<% end %>


<%= link_to "Log In", login_path, method: "get" %>
<%= link_to "Sign Up", signup_path, method: "get" %>
